@import '../../../../styles/vars';

aside {
  position: fixed;
  width: 30vw;
  height: 100vh;
  background-color: $gray-40;
  top: 0;
  right: 0;
  z-index: 2;
}

.action-container-button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30vw;
}


.container-summary {
  padding: 30px;

  &.vertical-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
}


.sections-summary {
  margin-bottom: 50px;
  padding: 30px;
}

.summary-items {
  max-height: 400px;
  padding: 10px 30px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.top-title {
  padding: 30px;
  font-size: 22px;
  color: #333;
}