@import '../../../styles/vars';
@import '../../../styles/utilities';

.custom-button {
  border-radius: 6px;
  padding: 6px 16px;
  color: white;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;

  &.block {
    display: block;
    width: 100%;
  }

  &.xs {
    font-size: 13px;
  }

  &.md {
    font-size: 18px;
    padding: 8px 20px;
  }

  &.lg {
    font-size: 22px;
    padding: 12px 22px;
  }

  &.brand-primary {
    background-color: $brand_color;
    border-color: $brand_contrast;

    &:hover {
      background-color: $brand_contrast;
      @include transition(all 0.5s ease-in-out);
    }
  }

  &.brand-flat-primary {
    border-radius: 0;
    background-color: $brand_color;
    border-color: $brand_contrast;

    &:hover {
      background-color: $brand_contrast;
      @include transition(all 0.5s ease-in-out);
    }
  }
}
