@import '../../../styles/vars';
@import '../../../styles/utilities';

.custom-button {
  border-radius: 6px;
  padding: 6px 16px;
  color: white;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;

  &.block {
    display: block;
    width: 100%;
  }

  &.xs {
    font-size: 13px;
  }

  &.md {
    font-size: 18px;
    padding: 8px 20px;
  }

  &.lg {
    font-size: 22px;
    padding: 18px 22px;
  }

  &.brand-primary {
    background-color: $brand_color;
    border-color: $brand_contrast;

    &:hover {
      background-color: $brand_contrast;
      @include transition(all 0.5s ease-in-out);
    }
  }

  &.brand-flat-primary {
    border-radius: 0;
    background-color: $brand_color;
    border-color: $brand_contrast;

    &:hover {
      background-color: $brand_contrast;
      @include transition(all 0.5s ease-in-out);
    }
  }

  &.with-input {
    background-color: $brand_color;
    border-color: $brand_contrast;
    border-radius: 0 6px 6px 0;
    color: white;

    &:hover {
      background-color: $brand_contrast;
      @include transition(all 0.5s ease-in-out);
    }
  }

  &.is-disabled {
    background-color: $gray-60;
    border-color: $gray-80;
    color: $gray-80;

    &:hover {
      background-color: $gray-10;
      cursor: not-allowed;
      @include transition(all 0.5s ease-in-out);
    }
  }
}
